[2018-03-29 17:20] ThalissonMelo opened #1 "Incluir processo na wiki do projeto"
Link do documento: [Processo](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Processo)

[2018-03-29 17:20] ThalissonMelo commented on #1
@cristianesramos

[2018-04-05 18:02] joaopaulonsoares opened #2 "Necessidades da Equipe de GQA"
Para realizar a auditoria da melhor forma possível, precisamos saber de algumas coisas que o processo não deixa claro como será realizado.

- [ ] Onde os produtos gerados pelo processo serão armazenados ? Wiki, Drive ?
- [ ] Como será a estrutura desses artefatos de saída (produtos)? Por exemplo: Qual a estrutura do _backlog_ ? O que esse _backlog_ vai conter e como ? ( Um template que deve ser se

[2018-04-05 23:15] eliseuegewarth commented on #1
O processo já esta completo na wiki?
Esta issue está completa?

[2018-04-05 23:15] eliseuegewarth commented on #2
@UnbFeelings/process

[2018-04-10 01:54] Rdlenke opened #3 "Processo de requisitos aparece diversas vezes com a mesma descrição"
Olá a todos.

Estava analisando o processo pra poder identificar os artefatos a serem auditados e os critérios de avaliação e cheguei num problema. No processo da área de desenvolvimento, a primeira atividade é o -**subprocesso de requisitos**.  Este subprocesso tem como resultado um Backlog, que entra no planejamento da release. O resultado do planejamento da release vai pro subprocesso de desenv

[2018-04-10 01:54] joaopaulonsoares opened #4 "Métricas do GQM incompletas"
Existem diversas métricas como, por exemplo, a definida no tópico _4.2.1.1.1 Nº de features por testes de aceitação_ que não tem sua descrição realizada.Elas serão utilizadas?

[2018-04-10 01:55] Ronyell opened #5 "Plano de Medição"
Para cada iteração é realmente necessário a criação de um novo plano de medição?

Pelo processo definido, tudo parece que está sendo refeito a cada iteração, inclusive o plano de requisitos, isso é realmente preciso?

O processo de qualidade e o plano de medição estão na mesma página, seria mais indicado separar esses artefatos.

@UnbFeelings/process

[2018-04-10 03:07] AllanNobre opened #6 "Analisar Requisitos - Participantes"
Acredito que nesta [atividade](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Processo#2212-analisar-requisitos) do processo existe um erro a respeito dos Participantes.

Aparentemente o cliente não participa dessa atividade, contudo foi alocado como um dos participantes. Um dos critérios da auditoria dessa atividade englobará a participação do cliente, caso ele não esteja presente na execu

[2018-04-10 04:05] JonathanRufino opened #7 "Descrever Processo de Garantia da Qualidade"
O processo de garantia da qualidade não está representado visualmente nem possui as atividades descritas.

[2018-04-10 04:09] #7 closed, assigned to nobody

[2018-04-13 00:10] #1 closed, assigned to nobody

[2018-04-13 13:58] MatheusRich commented on #3
Olá @Rdlenke (@UnbFeelings/gqa),

O *subprocesso de requisitos* é um processo "genérico". Ele é aplicado duas vezes no projeto mas em níveis de abstração diferentes:

* No item *2.0.1.1.* são coletados requisitos a nível de Release (épicos, features).
* No item *2.1.1.1.* são coletados requisitos a nível de Sprint (histórias, tasks).

Como são bastante parecidos, optamos por fazer esta abstração p

[2018-04-13 14:02] MatheusRich commented on #6
Olá @AllanNobre (@UnbFeelings/gqa),

Atualizei a [descrição](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Processo#2212-analisar-requisitos), realmente era um erro. Algo mais?

[2018-04-13 14:08] MatheusRich commented on #5
Olá @Ronyell (@UnbFeelings/gqa),

Não entendi sua dúvida. A cada iteração os documentos são apenas atualizados.

[2018-04-13 14:50] Ronyell commented on #5
@MatheusRich, isso não ficou muito claro na descrição das atividades e nem no desenho do processo.

[2018-04-16 03:25] Rdlenke commented on #3
Tudo bem, eu consegui compreender a diferença na abstração. Obrigado.

[2018-04-16 03:25] #3 closed, assigned to nobody

[2018-04-16 22:54] fabiolamfleury opened #8 "Métrica de endpoints do GQM"
No GQM de vocês, existe uma métrica documentada "Percentual de endpoints documentados) [url](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Processo-de-Garantia-da-Qualidade#122-garantir-a-manuteabilidade) porém na parte de plano de análise [aqui](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Processo-de-Garantia-da-Qualidade#12215-percentual-de-endpoints-testados) está como percent

[2018-04-17 00:39] Rdlenke opened #9 "[Não Conformidade] Backlog da Release Refinado"
@UnbFeelings/devel

A auditoria da atividade [Revisar][revisar] e do artefato [Backlog da Release Refinado][Backlog da Release Refinado] gerou diversas inconformidades. A minha lógica pra auditar essa atividade está [aqui][#32]. Os critérios utilizados estão [aqui][critérios]. O resultado da auditoria completo está [aqui][resultado].

_Observação: Na imagem do processo desta atividade, a saída é o

[2018-04-17 01:57] Ronyell opened #10 "[Não Conformidade] Backlog da Sprint"
@UnbFeelings/devel

A auditoria do [backlog da sprint](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Processo#2112-planejar-sprint) foi feita com base nos [critérios](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria#backlog-da-sprint) pré-estabelecidos  para poder verificar se a atividade de planejamento aconteceu. O re

[2018-04-17 02:06] Rdlenke opened #11 "[Não conformidade] Relatório da Retrospectiva"
@UnbFeelings/devel

A auditoria do relatório da retrospectiva, que vem da atividade de [Realizar Retrospectiva][Realizar Retrospectiva] tem algumas inconformidades. Para evitar overhead, vou colocar todas nesta mesma issue. Algumas delas são similares a outras que estarão presentes em outras issues, outras não.

O resultado completo da auditoria pode ser encontrado [aqui][resultado]. Os critérios

[2018-04-17 02:08] Ronyell opened #12 "[Não Conformidade] Planejamento de Treinamentos"
@UnbFeelings/devel

A auditoria do [planejamento de treinamentos](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Processo#2012-planejar-release) foi feita com base nos [critérios](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria#planejamento-de-treinamentos) pré-estabelecidos para poder verificar se a atividade Planejar

[2018-04-17 02:43] Matheusss03 opened #13 "[Não Conformidade] Realização do Incremento de Software"
@UnbFeelings/devel

Perante critérios definidos para as [Auditorias](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria) fora auditado o [Incremento de Software](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Auditoria-do-Incremento-de-Software---Ciclo-1) da equipe de *Desenvolvimento*.

### Descrição

Após a realização de

[2018-04-17 02:52] Matheusss03 opened #14 "[Não Conformidade] Inexistência do Plano de Medição"
@UnbFeelings/process

Perante critérios definidos para as [Auditorias](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria) fora auditado os [Testes de Software](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Auditoria-de-Testes-de-Software---Ciclo-1) da equipe de *Desenvolvimento* seguindo os padrões definidos no Plano de M

[2018-04-17 15:05] fabiolamfleury opened #15 "[Não Conformidade] Não realização do Planejamento da Sprint"
@UnbFeelings/devel

Perante critérios definidos para as [Auditorias](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria) fora auditado o [Subprocesso de Desenvolvimento](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Auditoria-do-Subprocesso-de-Desenvolvimento-Ciclo-1) da equipe de *Desenvolvimento*.  Como pode ser visto na

[2018-04-17 15:07] fabiolamfleury commented on #15
# NC 01 Não realização do Planejamento da Sprint

### Descrição

A reunião de Planejamento da Sprint não foi realizada

#### Recomendações

Realização da reunião durante o perído da aula (na terça ou na quinta as 14hrs) que é um horário em que todo grupo estará disponível e a maioria presente. O scrum master deve ser responsável por organização da reunião.

Em relação ao prazo, como não há possibi

[2018-04-17 15:16] fabiolamfleury opened #16 "[Não conformidade] Não realização da Daily Meeting"
@UnbFeelings/devel

Perante critérios definidos para as [Auditorias](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria) fora auditado o [Subprocesso de Desenvolvimento](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Auditoria-do-Subprocesso-de-Desenvolvimento-Ciclo-1) da equipe de *Desenvolvimento*.  Como pode ser visto na

[2018-04-17 15:21] fabiolamfleury opened #17 "[Não conformidade] Não realização de testes no desenvolvimento"
@UnbFeelings/devel

Perante critérios definidos para as [Auditorias](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria) fora auditado o [Subprocesso de Desenvolvimento](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Auditoria-do-Subprocesso-de-Desenvolvimento-Ciclo-1) da equipe de *Desenvolvimento*.  Como pode ser visto na

[2018-04-17 15:26] fabiolamfleury opened #18 "[Não conformidade] Não realização da coleta de métricas"
@UnbFeelings/devel

Perante critérios definidos para as [Auditorias](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria) fora auditada a [Medição e Análise](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Auditoria-da-Medi%C3%A7%C3%A3o-e-An%C3%A1lise-do-Ciclo-1).  Como pode ser visto na [descrição das Não Conformidades](http

[2018-04-17 16:34] fabio1079 commented on #8
Obrigado por levantar essa diferença nos nomes.

Quanto a métrica, em suma é o quanto os testes cobrem a quantidade de endpoints da API, dando assim uma maior segurança no desenvolvimento e manutenção da API como um todo.

Sobre a diferença nos nomes, é por que originalmente seria quantos endpoints estão devidamente documentos(no swagger ou ferramenta similar). Porem não conseguimos chegar a um co

[2018-04-17 16:50] fabio1079 commented on #8
Obrigado por levantar essa diferença nos nomes.

Quanto a métrica, em suma é o quanto os testes cobrem a quantidade de endpoints da API, dando assim uma maior segurança no desenvolvimento e manutenção da API como um todo.

Sobre a diferença nos nomes, é por que originalmente seria quantos endpoints estão devidamente documentos(no swagger ou ferramenta similar). Porem não conseguimos chegar a um co

[2018-04-17 17:12] igor-gme opened #19 "[Não Conformidade] Métricas de Processo"
@UnbFeelings/devel
@UnbFeelings/process

Perante critérios definidos para as [Auditorias](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria) fora auditada a [Métricas de Processo](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Auditoria-M%C3%A9tricas-de-Processo-Ciclo-1).

### Descrição

Nenhuma métrica de processo foi def

[2018-04-17 17:18] igor-gme opened #20 "[Não Conformidade] Métricas de Código"
@UnbFeelings/devel
@UnbFeelings/process

Perante critérios definidos para as [Auditorias](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria) fora auditada a [Métricas de Código](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Auditoria-M%C3%A9tricas-de-C%C3%B3digo-Ciclo-1).

### Descrição

Não foi encontrada nenhuma evidênc

[2018-04-17 17:28] fabiolamfleury commented on #8
Beleza, obrigada pelo esclarecimento!

[2018-04-17 17:28] #8 closed, assigned to nobody

[2018-04-17 18:08] maugustoo opened #21 "[Não conformidade] Análises do que será medido não existe"
@UnbFeelings/process

Perante critérios definidos para as [Auditorias](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria#plano-de-medi%C3%A7%C3%A3o) fora auditada o [plano de medições](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria#plano-de-medi%C3%A7%C3%A3

[2018-04-17 18:09] maugustoo opened #22 "[Não conformidade] Planejamento das coletas não existem"
@UnbFeelings/process

Perante critérios definidos para as [Auditorias](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria#plano-de-medi%C3%A7%C3%A3o) fora auditada o [plano de medições](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria#plano-de-medi%C3%A7%C3%A3

[2018-04-17 18:35] maugustoo opened #23 "[Não conformidade] Métricas sem técnicas de coleta"
@UnbFeelings/process

Perante critérios definidos para as [Auditorias](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria#plano-de-medi%C3%A7%C3%A3o) fora auditada o [plano de medições refinado](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria#plano-de-medi%C3

[2018-04-17 18:36] maugustoo opened #24 "[Não conformidade] Métricas sem indicadores"
@UnbFeelings/process

Perante critérios definidos para as [Auditorias](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria#plano-de-medi%C3%A7%C3%A3o) fora auditada o [plano de medições refinado](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria#plano-de-medi%C3

[2018-04-18 00:30] #6 closed, assigned to nobody

[2018-04-18 01:14] JonathanRufino opened #25 "[Não Conformidade] Relatório Final não existe"
@UnbFeelings/process

Perante critérios definidos para as [Auditorias](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria#plano-de-medi%C3%A7%C3%A3o) fora auditada o artefato Relatório Final, resultante da atividade [Relatório Final de Medição](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Processo#317-atividade-relatório

[2018-04-18 02:44] AllanNobre commented on #6
Suave, Obrigado!

[2018-04-18 23:06] AllanNobre opened #26 "[Não Conformidade] Lista informal de requisitos"
@UnbFeelings/devel

A auditoria da [Lista Informal de Requisitos](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Processo#2211-elicitar-requisitos) foi feita com base nos [critérios](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria#lista-informal-de-requisitos) pré-estabelecidos para poder verificar se a atividade Elicit

[2018-04-18 23:29] marceloabk commented on #22
De acordo com o processo de medição, a coleta de métricas se da a cada sprint. Cabe então ao Coletor de Métricas do time de processo achar a melhor data dentro de cada sprint para realizar a coleta.

[2018-04-18 23:34] freemanpivo opened #27 "[Não Conformidade] Adesão ao Processo de Desenvolvimento"
@UnbFeelings/devel

A auditoria do [Processo do Ciclo de Desenvolvimento](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Processo#2-processo-do-ciclo-de-desenvolvimento) foi feita com base nos [critérios](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria#processo-do-ciclo-de-desenvolvimento) pré-estabelecidos para poder v

[2018-04-18 23:42] ulyssesBML commented on #14
Foi realizado no dia 16/04

link: [plano](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Plano-de-Medi%C3%A7%C3%A3o)

[2018-04-18 23:53] ulyssesBML commented on #25
Você está falando do relatório de desempenho? Porque o relatório final que está descrito no processo  só é gerado no final do semestre.

[2018-04-19 00:20] MatheusRich commented on #4
[Corrigido](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Processo-de-Garantia-da-Qualidade)!

[2018-04-19 00:20] #4 closed, assigned to MatheusRich

[2018-04-19 00:30] MatheusRich commented on #9
@UnbFeelings/devel

[2018-04-19 00:33] #14 closed, assigned to marceloabk, MarcoRLK, ulyssesBML

[2018-04-19 00:42] MatheusRich commented on #19
@UnbFeelings/gqa

As métricas de processo estão definidas [no GQM](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Processo-de-Garantia-da-Qualidade#11-gqm-do-processo). Porém, segundo a professora a coleta de métricas de processo seria feita pela equipe de GQA. Estou equivocado?

[2018-04-19 00:44] MatheusRich commented on #20
@UnbFeelings/gqa

Essa issue está duplicada? Acredito que seja o mesmo conteúdo [desta](https://github.com/UnbFeelings/unb-feelings-docs/issues/18).

[2018-04-19 00:46] joaopaulonsoares commented on #19
Não cabe a equipe de GQA coletar métricas, somente cabe a nossa equipe verificar se à mesma foi realizada no período definido e seguindo os critérios também definidos previamente.

[2018-04-19 00:49] fabiolamfleury commented on #19
@MatheusRich Conforme a professora relembrou aula passada, a equipe desenvolvedora é responsável pela coleta de métricas, por isso, seria necessário um treinamento feito pela equipe de processo para instruir sobre como seria feita.

[2018-04-19 00:54] MatheusRich commented on #21
[Corrigido](https://github.com/UnbFeelings/unb-feelings-docs/wiki/GQM)

[2018-04-19 00:54] #21 closed, assigned to nobody

[2018-04-19 00:58] MatheusRich commented on #24
[Corrigido](https://github.com/UnbFeelings/unb-feelings-docs/wiki/GQM)

[2018-04-19 00:58] #24 closed, assigned to flaviocostap

[2018-04-19 01:04] #2 closed, assigned to nobody

[2018-04-19 01:04] igor-gme commented on #19
@MatheusRich, Quando a Auditoria foi feita não existia o documento de GQM.

[2018-04-19 01:17] MatheusRich commented on #27
@UnbFeelings/gqa (@freemanpivo)

Sei que a issue não é diretamente relacionada ao time de Processo, mas que artefatos "simplesmente existem" no processo sem agregar valor?

[2018-04-19 01:38] naiieandrade opened #28 "[Não Conformidade] Backlog"
@UnbFeelings/devel

A auditoria do [Backlog](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Processo#2011-requisitos-da-release), que é um produto gerado do sub processo **requisitos**,  foi feita com base nos [critérios](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria#backlog) pré-estabelecidos para poder verificar se

[2018-04-19 01:46] naiieandrade opened #29 "[Não Conformidade] Backlog da Release"
@UnbFeelings/devel

A auditoria do [Backlog da Release](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Processo#2012-planejar-release), que é um produto da atividade de **Planejar release**,  foi feita com base nos [critérios](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria#backlog-da-release) pré-estabelecidos para pod

[2018-04-19 02:13] ThalissonMelo commented on #26
Decidimos que este documento é informal de mais para ser documentado, portanto não está mais descrito como um documento de saída do processo

[2018-04-19 02:14] MatheusRich commented on #5
Foi criada [uma seção](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Crit%C3%A9rios-de-aceita%C3%A7%C3%A3o-para-artefatos) com a descrição dos artefatos. Espero que esclareça.

[2018-04-19 02:14] #5 closed, assigned to nobody

[2018-04-19 02:43] Rdlenke commented on #25
@ulyssesBML Você tem razão, este objeto não deveria ser auditado, já que a equipe de desenvolvimento não chegou no fim do semestre.

Estou fechando a issue.

[2018-04-19 02:43] #25 closed, assigned to nobody

[2018-04-19 02:48] ThalissonMelo commented on #16
Concordamos que realmente não é necessário realizar reuniões de daily por isso trocamos essa atividade por uma reunião em equipe que deve ocorrer pelo menos duas vezes na semana, como descrito no processo.

[2018-04-19 02:54] AllanNobre commented on #26
Ótimo! Isso já representa uma melhoria do processo! Bom trabalho!

[2018-04-19 02:55] ThalissonMelo commented on #12
No link do documento que segue foi definido o que a documentação dos treinamentos deve conter.
Somado a isso é preciso frisar que os treinamentos vão se intensificar no momento de troca de equipes pois as equipes precisam ser treinadas para seus novos papéis.

https://github.com/UnbFeelings/unb-feelings-docs/wiki/Crit%C3%A9rios-de-aceita%C3%A7%C3%A3o-para-artefatos

[2018-04-19 02:55] #26 closed, assigned to ThalissonMelo

[2018-04-19 03:01] ThalissonMelo commented on #11
No link abaixo está o documento que descreve como deve ser elaborado o backlog da retrospectiva

https://github.com/UnbFeelings/unb-feelings-docs/wiki/Crit%C3%A9rios-de-aceita%C3%A7%C3%A3o-para-artefatos

[2018-04-19 03:03] ThalissonMelo commented on #10
O documento no link abaixo descreve como deve ser elaborado o backlog da sprint

https://github.com/UnbFeelings/unb-feelings-docs/wiki/Crit%C3%A9rios-de-aceita%C3%A7%C3%A3o-para-artefatos

[2018-04-19 03:07] ThalissonMelo commented on #9
o artefato backlog da release refinado foi retirado dos objetos de saída do processo tendo em vista que este é o mesmo backlog do produto, portanto, adicionamos uma observação neste documento que ele pode ser constantemente modificado durante o processo. Esta observação pode ser vista no documento abaixo.

https://github.com/UnbFeelings/unb-feelings-docs/wiki/Crit%C3%A9rios-de-aceita%C3%A7%C3%A3o-

[2018-04-19 11:38] fabiolamfleury commented on #16
Isso foi discutido com o time desenvolvimento, foi passado para eles?

[2018-04-19 13:40] ThalissonMelo commented on #16
Não temos contato com o time do desenvolvimento, por isso, essas informações serão passadas quinta feira 19/04 durante a aula. Nesta aula o slack vai ser configurado para não ocorrer mais esse tipo de problema.

[2018-05-04 02:33] Rdlenke opened #30 "Modelo Ideal - Fase de Inicialização"
Issue para controle dos estudos do modelo IDEAL, focando na fase de inicialização definida pelo mesmo.
Os resultados parciais deste estudo podem ser colocados nos comentários das issues, para serem consolidados depois num documento formal.

Todos os integrantes da equipe de processo do segundo ciclo estão alocados

@UnbFeelings/themis

[2018-05-04 02:43] AllanNobre commented on #30
@Rdlenke A professora colocou um material no Moodle que pode nos ajudar! É um bom começo nos estudos!

[2018-05-07 23:35] hpe95 commented on #16
Acredito que essa NC deva ser fechada e criada outra que reflita as novas mudanças

[2018-05-07 23:44] maugustoo opened #31 "Getting Started"
O propósito desta atividade é organizar a equipe de melhoria de processos para montar uma proposta para o gerenciamento para o lançamento de um programa de melhoria de processo.

Tarefas:

- [x] Identificar e descrever os departamentos que serão partes interessadas no programa de melhoria de processo software.
- [x] Descrever a abordagem que será utilizada para para conduzir o programa de melhoria

[2018-05-07 23:46] maugustoo commented on #31
É interessante ler a fase 1.1 do modelo ideal Getting Started, que descreve alguns passos para se conseguir atingir os objetivos descritos.

Para facilitar eu comecei a fazer uma tradução dos primeiros passos da inicialização:
https://docs.google.com/document/d/1WLipOaE--jFkOI6jX4eipKXxGEpwsk2_z2TWPUw-_xI/edit

[2018-05-07 23:51] maugustoo opened #32 "Identificar as necessidades de negócios"
O propósito desta issue é entender, de uma perspectiva de gerenciamento, as principais necessidades de negócios que impulsionam a necessidade de um programa de melhoria de processo de software.

Tarefas:

- [x] Identificar as principais necessidades de negócios que geram motivos para se fazer um programa de melhoria de processo de software.
- [x] Vincule o programa de melhoria de processo de softw

[2018-05-07 23:55] maugustoo opened #33 "Criar uma proposta de melhoria do processo de software"
O propósito desta issue é criar uma proposta para a alta gerência que explique o que é o programa SPI, por que ele deve ser iniciado, o custo, o tempo necessário para ver os resultados e qual abordagem é selecionada. A proposta deve responder às perguntas: "O que queremos fazer?" E "Por que queremos fazer isso?"

Tarefas

- [x] Estabelecer metas e objetivos para o programa de melhoria, assegurando

[2018-05-07 23:59] maugustoo opened #34 "Criar plano de comunicação"
O objetivo dessa issue é criar um plano de comunicação que contenha dados de como será feito a comunicação entre os níveis organizacionais e dentro dos níveis organizacionais.

Tarefas:

- [x] Descrever como será feita a comunicação com a alta gerência
- [x] Descrever como será feita a comunicação entre os grupos de trabalho
- [x] Descrever como será feita a comunicação dentro dos grupos.

[2018-05-08 00:03] maugustoo commented on #32
É interessante ler a fase 1.2 do modelo ideal, que descreve alguns passos para se conseguir atingir os objetivos descritos.

Para facilitar eu comecei a fazer uma tradução dos primeiros passos da inicialização:
https://docs.google.com/document/d/1WLipOaE--jFkOI6jX4eipKXxGEpwsk2_z2TWPUw-_xI/edit

[2018-05-08 00:03] maugustoo commented on #33
É interessante ler a fase 1.3 do modelo ideal, que descreve alguns passos para se conseguir atingir os objetivos descritos.

Para facilitar eu comecei a fazer uma tradução dos primeiros passos da inicialização:
https://docs.google.com/document/d/1WLipOaE--jFkOI6jX4eipKXxGEpwsk2_z2TWPUw-_xI/edit

[2018-05-08 00:04] maugustoo commented on #34
É interessante ler a fase 1.4 do modelo ideal, que descreve alguns passos para se conseguir atingir os objetivos descritos.

Para facilitar eu comecei a fazer uma tradução dos primeiros passos da inicialização:
https://docs.google.com/document/d/1WLipOaE--jFkOI6jX4eipKXxGEpwsk2_z2TWPUw-_xI/edit

[2018-05-08 00:21] naiieandrade commented on #31
- _Identificar e descrever os departamentos que serão partes interessadas no programa de melhoria de processo software._

A empresa possui três equipes de trabalho maiores, que são os desenvolvedores, a equipe de processo e a equipe de qualidade. Todos eles são partes interessadas no programa de melhoria, juntamente com a alta direção e o cliente.
A alta direção é responsável pela empresa, por sua

[2018-05-08 01:06] JonathanRufino commented on #32
- [x] Identificar as principais necessidades de negócios que geram motivos para se fazer um programa de melhoria de processo de software.

No contexto ao qual este trabalho está sendo executada (disciplina de graduação) o programa de melhoria de processo de software deve levar em consideração não apenas as características associadas ao desenvolvimento de software, mas também características de um

[2018-05-08 03:04] maugustoo commented on #31
No contexto da disciplina Melhoria de Processo de Software foi estabelecido uma relação Organização (Empresa GoHorse+) x Cliente (Jhonatan). Neste contexto há um contrato a ser seguido (Plano de Ensino) e este prevê a divisão da Organização em 3 grandes áreas (Processos, Desenvolvimento e GQA), e estas devem trabalhar de forma orgânica e entregar um produto ao fim dos ciclos.

A empresa é então di

[2018-05-08 04:26] JonathanRufino commented on #32
Não entendi se o programa de melhoria é definido aqui, ou se na verdade essa tarefa está misturada com a #33

[2018-05-08 04:34] maugustoo commented on #32
Então, em tese as tarefas são feita paralelamente e ao fim das issues #32, #33 e #34 teremos a proposta de melhoria inicial. Mas o objetivo dessa issue é o que as tarefas definem. Na issue #33 vamos usar os insumes desta, que fará parte da proposta de melhoria.

[2018-05-08 05:09] maugustoo commented on #31
Abordagem de Melhoria utilizada

Durante um programa de melhoria de processo de software é importante seguir um modelo para ter um rumo e conseguir ter melhores resultados durante a execução deste programa. No contexto da matéria de Melhoria de Processo de Software foi designado ao grupo utilizar o modelo IDEAL (Initiating-Diagnosing-Establishing-Acting-Learning).

O modelo IDEAL

O modelo IDEAL,

[2018-05-08 05:47] maugustoo commented on #31
Fase de iniciação

![iniciacao](https://user-images.githubusercontent.com/18356890/39739994-08923aac-526a-11e8-9eba-0870ea1c71fe.jpeg)

Figura vai ser necessária para explicarmos o que fizemos, o porquê fizemos e onde estamos.

[2018-05-08 10:43] naiieandrade commented on #31
- _Descrever a abordagem que será utilizada para para conduzir o programa de melhoria de processo de software. (Modelo IDEAL)_

A abordagem que será utilizada é o modelo IDEAL. É um modelo desenvolvido pelo _SEI - Software Engineering Institute_, no qual define ações para capacitar as organizações a fim de melhorar seus processos.

**Inicialização**: Preparação das bases necessárias para que o esf

[2018-05-08 11:44] freemanpivo commented on #34
O plano de comunicação está desenvolvido nesse link: [Plano de Comunicação](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Plano-de-Comunica%C3%A7%C3%A3o)

[2018-05-08 12:52] maugustoo opened #35 "Explicar fase de inicialização"
Criar um documento para auxiliar na apresentação da fase de inicialização que vai contar com o processo, o que fazemos, e onde estamos.

[2018-05-08 13:05] maugustoo commented on #35
Feito

[2018-05-08 13:05] #35 closed, assigned to maugustoo

[2018-05-08 18:26] Matheusss03 opened #36 "Slack"
O link do SLACK será disponibilizado nessa issue.

@UnbFeelings/apolo @UnbFeelings/athena @UnbFeelings/themis  @UnbFeelings/alta-gerencia

[2018-05-09 02:10] JonathanRufino commented on #36
Link para acesso ao Slack

https://join.slack.com/t/unbfeelings/shared_invite/enQtMzU5OTQ0ODgxNzYxLTQzMGM4Zjg5NGU0Nzc5YjkwOThjYzY3NmJiYzNkYzVlOThhNDhhNjkwNjBmZTgwZWQyNWNiMTZmOGM0MTEyNjk

[2018-05-12 14:46] Ronyell opened #37 "IDEAL - Diagnóstico - Caracterização do modelo desejado"
## Áreas a serem abordadas
**Qualidade**
  * Modelo
  * Papéis

**Requisitos**
  * Modelo
  * Elicitação
  * Documentação

**Desenvolvimento**
  * Planejamento
  * Monitoramento
  * Controle
  * Execução
  * Boas Práticas
  * Papéis

[2018-05-12 15:16] Ronyell commented on #37
**Qualidade**
@joaopaulonsoares  @JonathanRufino

**Requisitos**
@freemanpivo @naiieandrade @Matheusss03 @igor-gme

**Desenvolvimento**
@Ronyell @AllanNobre @thiagonf @maugustoo @fabiolamfleury

[2018-05-12 17:21] Rdlenke opened #38 "Atualizar Métricas do Projeto"

[2018-05-12 18:31] Ronyell commented on #37
### Time

**Product Owner**: O Product Owner, ou dono do produto, é o responsável por maximizar o valor do produto resultado do trabalho do Time de Desenvolvimento. Como isso é feito pode variar amplamente através das organizações, Times Scrum e indivíduos.O Product Owner é a única pessoa responsável por gerenciar o Backlog do Produto.

**Time de Desenvolvimento**: O Time de Desenvolvimento consis

[2018-05-12 19:14] maugustoo commented on #37
### Desenvolver - Boas Práticas

O XP é um método de desenvolvimento de software criado em 1997 considerado leve, não prescritivo, e que procura fundamentar as suas práticas por um conjunto de valores. Para o trabalho vamos trazer algumas dessas práticas:

## Pareamento

Trata-se de duas pessoas trabalhando com UMA máquina onde um codifica, e o outro critica ou dá sugestões. Os pares trocam de lug

[2018-05-12 20:16] thiagonf commented on #37
### Artefatos

**Backlog do Produto**
O Backlog do Produto é uma lista ordenada de tudo que é conhecido ser necessário no
produto. É a única origem dos requisitos para qualquer mudança a ser feita no produto. O
Product Owner é responsável pelo Backlog do Produto, incluindo seu conteúdo,
disponibilidade e ordenação.

**Backlog da Sprint**
O Backlog da Sprint é um conjunto de itens do Backlog do Pro

[2018-05-12 21:52] naiieandrade commented on #37
## Modelo

O modelo do projeto será baseado no _SAFe_ (Scaled Agile Framework). Onde o serão definidos na escala negocial os épicos, que são divididos em funcionalidades como _features_, que por fim são destrinchados em histórias de usuários. Mantendo assim uma rastreabilidade.

Do _SAFe_ só serão utilizados os épicos, as features e as histórias. E quanto a questão de nível, só será utilizada o ní

[2018-05-13 00:07] JonathanRufino commented on #37
## Qualidade

O SWEBOK define qualidade de software como uma das áreas da engenharia de software que diz respeito às características desejadas de um produto de software.
Com o objetivo de produzir um produto com qualidade, foi realizada uma análise de modelos de qualidade de software e com isso, foram selecionadas algumas práticas desejadas afim de complementar o processo já existente.

### Cobert

[2018-05-13 00:17] joaopaulonsoares commented on #37
### 1. MODELO

Em geral, "medição" é o processo pelo qual números ou símbolos são atribuídos a atributos de entidades no mundo real, de modo a descrevê-los de acordo com regras claramente definidas (Fenton e Pfleeger, 1996). O resultado numérico é chamado de "medição". Isso pode ser aplicado a um processo de desenvolvimento de software e a um produto de software.

Medição de software é o processo

[2018-05-13 00:39] #31 closed, assigned to freemanpivo, naiieandrade, Rdlenke, Matheusss03, maugustoo

[2018-05-13 01:05] igor-gme commented on #37
# Requisitos (Modelo)
Os requisitos de um sistema são as descrições do que o sistema deve fazer, os serviços que oferece e as restrições a seu funcionamento. Esses requisitos refletem as necessidades dos clientes para um sistema que serve a uma finalidade determinada, como controlar um dispositivo, colocar um pedido ou encontrar informações. O processo de descobrir, analisar, documentar e verifica

[2018-05-13 01:52] AllanNobre commented on #37
### Desenvolvimento

#### Planejamento, Monitoramento e Controle

O Modelo proposto para dar suporta a essas necessidades de projeto é o KanBan. Além de trazer grande visibilidade do fluxo de desenvolvimento para a equipe, é um ótimo complemento para o Scrum, que também foi eleito como modelo para o processo desejado.

O Kanban é uma estrutura popular usada para implementar o desenvolvimento ágil

[2018-05-13 02:19] Matheusss03 commented on #37
# Requisitos (Documentação)

Todos os requisitos levantados pelo sistema devem estar descritos em uma página *web* ligada ao sistema em que o projeto está sendo desenvolvido (**GitHub**).

## Ferramentas

* GitHub
* ZenHub

## Metodologia

Todos os requisitos levantados juntamente ao cliente [Jonathan](https://github.com/arkye) devem estar descritos em uma *Wiki* no [*GitHub*](https://github.com/U

[2018-05-13 02:22] Rdlenke opened #39 "Criar template para resultado de métricas por sprint"

[2018-05-13 03:12] Rdlenke commented on #39
O template pode ser encontrado [aqui](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Template-para-Resultados-de-Coleta-de-M%C3%A9tricas-por-Sprint).

[2018-05-13 03:24] Rdlenke opened #40 "Criar template para relatório de desempenho da sprint"

[2018-05-13 03:29] AllanNobre commented on #39
Template revisado! Está tudo correto!

[2018-05-13 03:30] #39 closed, assigned to Rdlenke

[2018-05-13 03:38] Rdlenke commented on #40
O template pode ser encontrado [aqui](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Template-para-Relat%C3%B3rio-de-Desempenho-da-Sprint).

Eu resolvi deixar a parte da análise em si um pouco mais aberta, tanto porque acredito que o melhor formato ainda vai ser descoberto conforme as medições forem feitas como porque acho que o próprio autor das análises vai ter muita interferência nessa p

[2018-05-13 03:51] AllanNobre opened #41 "Organizar SideBar"
- [x] Organizar sideBar para comportar os documentos da equipe de Processo e de Desenvolvimento.
- [x] Sem ícones porque a equipe de GQA reclamou e disse que estava ruim a navegabilidade.

[2018-05-13 03:58] AllanNobre commented on #36
ENTREM NO SLACK, POR FAVOR! @UnbFeelings/apolo @UnbFeelings/athena

[2018-05-13 18:01] VictorDeon opened #42 "[Não conformidade] - Plano de medição - Auditoria 12/05/2018"
Auditoria realizada dia: 12/05/2018 por Victor Arnaud
Link: https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Auditoria-do-plano-de-medi%C3%A7%C3%A3o-2

#### Não conformidade:

O plano de medição contêm o planejamento das coletas? O planejamento das coletas não foi encontrada na documentação.

Prazo: 15/05/2018

[2018-05-13 18:04] joaopaulonsoares commented on #42
@VictorArnaud Acho que essa data aí tá errada

[2018-05-14 02:32] VictorDeon commented on #42
ops kkk vlw quando solucionar o mesmo manda o link aqui

[2018-05-15 01:15] VictorDeon commented on #42
Galera além do template das coletas de métricas o plano de medição deve especificar quando as métricas deve ser coletadas, ou seja, seu planejamento, no caso por sprint, ou por release, sei la ^^ só uma dica.

[2018-05-15 02:18] Rdlenke commented on #42
@VictorArnaud No caso, seria um planejamento do estilo "as métricas ABC vão ser coletadas na Sprint 1", ou seria o momento dentro do processo onde a coleta é feita?

Uma outra dúvida: caso seja um planejamento de quais métricas serão coletadas em qual sprint, não tem problema ser um planejamento de sprint a sprint, ao invés de ser um pra todas as sprints, certo?

Muito obrigado.

[2018-05-15 11:53] #41 closed, assigned to AllanNobre

[2018-05-15 11:53] #33 closed, assigned to JonathanRufino, freemanpivo, naiieandrade, Matheusss03, maugustoo

[2018-05-15 11:53] #32 closed, assigned to JonathanRufino, freemanpivo, naiieandrade, Matheusss03, maugustoo

[2018-05-15 11:54] #34 closed, assigned to JonathanRufino, freemanpivo, naiieandrade, Matheusss03, maugustoo

[2018-05-15 12:41] freemanpivo commented on #36
Os canais de comunicação foram criados e alguns membros foram adicionados.

Falta os integrantes de desenvolvimento e a professora entrarem no slack. O *LINK* está disponível no comentário acima.

@UnbFeelings/apolo @UnbFeelings/athena @UnbFeelings/alta-gerencia

[2018-05-15 12:42] freemanpivo commented on #36
Esqueci de dizer que não tem controle nas wikis dos membros que estão atualmente no desenvolvimento, por favor, necessito dessa lista de nomes para adicionar no canal correto.

[2018-05-16 00:52] VictorDeon commented on #42
Não, acho que o momento dentro do processo onde a coleta é feita é o suficiente, por exemplo, ao final das sprints é coletado as metricas de código, ao final do release é coletado ... não precisa especificar qual a métrica.

[2018-05-16 01:24] Rdlenke commented on #42
Beleza. Atualizei o [plano de medição][plano de medição] com uma seção pra esse planejamento. Caso não seja bem isso, pode me falar que eu tento corrigir de outra maneira.

[plano de medição]:https://github.com/UnbFeelings/unb-feelings-docs/wiki/Plano-de-Medi%C3%A7%C3%A3o#4-planejamento-das-coletas

[2018-05-16 19:46] VictorDeon commented on #42
Ta massa

[2018-05-16 19:46] #42 closed, assigned to VictorDeon, Rdlenke

[2018-05-16 23:57] joaopaulonsoares opened #43 "Criação da Proposta de Melhoria"
# Processo de Desenvolvimento
- [x] Reunião Diária
- [x] Papéis (P.O, Team, Scrum Master)
- [x] Pareamento
- [x] Integração contínua ( API não possui )
- [x] Padronização do código

# Requisitos

# Qualidade
- [ ] Fazer GQM
   - [ ] Template de objetivos
   - [ ] Folha de abstração GQM
   - [ ] Nível conceitual (objetivos)
   - [ ] Nível operacional (questões)
   - [ ] Nível quantitativo (métricas

[2018-05-17 00:55] fabiolamfleury opened #44 "Barreiras encontradas para realização de recomendações na fase de diagnóstico do modelo IDEAL"
Devido a falhas no mapeamento do estado atual do processo, há entraves para realizar recomendações de mudanças

[2018-05-17 01:46] joaopaulonsoares commented on #43
Todos os resultados devem ser inseridos no documento correspondente a fase de Proposta de Melhoria , onde os mesmos devem ser documentados seguindo os _templates_ estabelecidos no mesmo.

[2018-05-17 01:52] joaopaulonsoares commented on #43
# Atribuições dos Membros:
## Processo de Desenvolvimento
- [x] Reunião Diária [ Pedro Ivo ]
- [x] Papéis (P.O, Team, Scrum Master) [ Thiago ]
- [x] Pareamento [ Jonathan ]
- [x] Integração contínua ( API não possui ) [ Igor ]
- [x] Padronização do código [ Allan ]

## Requisitos

## Qualidade
- [x] Fazer GQM [ João Paulo e Roger  ]
   - [ ] Template de objetivos
   - [ ] Folha de abstração GQM

[2018-05-17 02:14] fabiolamfleury commented on #44
# Qualidade

Observando o que foi documentado como [estado atual](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Estado-Atual#processo-de-medi%C3%A7%C3%A3o-e-an%C3%A1lise) acredita-se que não engloba o que foi documentado no [estado desejado](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Estado-Desejado#2-qualidade)

* Template de métricas não está escrito como algo definido no proc

[2018-05-17 02:36] thiagonf commented on #43
O estado atual dos papéis no processo de desenvolvimento foi verificado que o mesmo se encontra não definido e não implementado. O recomendado a ser feito para melhorar tanto o entendimento do processo quanto a própria atividade seriam os seguintes pontos:
1 - Separar por raias de papéis o processso, facilitando assim o entendimento de onde cada papel entra e verificar qual atividade está atribuid

[2018-05-17 02:49] freemanpivo commented on #43
## Reunião Diária

Conforme estabelece o SCRUM e foi definido pelo processo da Equipe GoHorse+, há a necessidade de realizar reuniões em paralelo com as atividades de desenvolvimento. É esperado que as atividades da Organização utilizem o que a literatura prevê como melhores práticas. Devido à reunião diária ser de difícil realização porque é impossível que as equipes se encontrem diariamente no m

[2018-05-17 02:49] santana-guilherme opened #45 "[Não Conformidade] - Relatório de Desempenho"
A auditoria do relatório de desempenho foi executada para verificar se a atividade de medição e análise foi realizada. O resultado da auditoria pode ser acessado através da seguinte página: [Auditoria Relatório de Desempenho - Ciclo 2](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Auditoria-do-Relat%C3%B3rio-de-Desempenho-Ciclo-2).
## Descrição
O documento **Relatório de Desempenho** não fo

[2018-05-17 03:07] joaopaulonsoares commented on #43
Fazer GQM

Recomenda-se que o processo de medição e análise da organização seja construído de acordo com as diretrizes do GQM, já que o resultado do GQM é um processo de medição bem definido. Sendo assim, se faz necessário que o processo de Medição e Análise da organização Go-horse+ seja reorganizado e refeito, de maneira realizar as fazes previstas no modelo.

Para isso, a equipe de melhoria do p

[2018-05-17 03:10] AllanNobre commented on #45
A Sprint acabou dia 15, acredito que o tempo para que as métricas tivessem sido colhidas foi deveras curto, de modo que essa auditoria poderia ser postergada um tempo a mais.

Outro fator agravante foi o fato de a tarefa de colher as métricas, ERRONEAMENTE PASSADA PARA A EQUIPE DE PROCESSO, deveria ser da equipe de desenvolvimento, essa afirmação é apoiada pelo  próprio GQM e segundo a própria lóg

[2018-05-17 03:13] AllanNobre commented on #45
Outra coisa, existe algum motivo para que a equipe de GQA não esteja seguindo o modelo de issue de não conformidade definido pela antiga equipe de GQA?

[2018-05-17 03:33] santana-guilherme commented on #45
Concordo que o tempo de coleta de métricas é pequeno e que talvez seria melhor executar essa auditoria para mais adiante do projeto, ou alguma data em que seja mais viável para a equipe, pensando nisso deixei o prazo para dia 24 (sendo que o ciclo acaba dia 29 ). Como comentei com Marcelo(da equipe de processo) acredito que devido ao passo em que o planejamento da disciplina se encontra muitas aud

[2018-05-17 03:57] igor-gme commented on #43
## Integração Contínua (api)

De acordo com as boas práticas do XP, recomenda-se que todo o incremento de código deva passar por uma _build_ automatizada para verificar, de forma fácil e mais rapidamente, se o novo código que foi desenvolvido quebrou ou não o que já estava funcionando, para que assim, seja possível arrumá-lo rapidamente.

Na auditoria para verificar o estado atual do processo de d

[2018-05-17 04:06] AllanNobre opened #46 "Criar documento de Proposta de Melhorias"
Criar a estrutura do documento com informações sobre o ciclo de melhoria e com espaço para receber as propostas de melhoria.

[2018-05-17 04:13] #30 closed, assigned to nobody

[2018-05-17 04:35] Ronyell commented on #44
# Requisitos

Com base na análise dos GAP's  que se encontra no artefato [estado atual](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Estado-Atual#processo-de-medi%C3%A7%C3%A3o-e-an%C3%A1lise), foi constatado que este não engloba o que foi definido no [estado desejado](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Estado-Desejado#2-qualidade).

Portanto, a partir do que foi definid

[2018-05-17 04:43] AllanNobre commented on #44
# Desenvolvimento

Observando o que foi documentado como [estado atual](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Estado-Atual) acredita-se que não engloba o que foi documentado no [estado desejado](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Estado-Desejado)

* O KanBan foi dado como completamente definido, contudo foi diagnosticado de forma absurdamente errada! De modo que

[2018-05-17 05:17] JonathanRufino commented on #43
## Pareamento

Outra prática recomendada pelo _XP_, é a programação em pares. Esta prática auxilia no desenvolvimento de soluções de software com maior qualidade em comparação ao seu desenvolvimento por uma única pessoa. Essa maior qualidade se da por alguns benefícios listados abaixo:
- Detecção de _bugs_ devido as diferentes percepções dos desenvolvedores envolvidos, já que a pessoa que está em

[2018-05-17 13:13] #46 closed, assigned to AllanNobre

[2018-05-17 13:45] maugustoo commented on #43
##Padronização de código

Segundo o estado desejado e a literatura, a padronização de código é necessária pelo fator de diferentes pessoas mexerem e adicionarem incrementos ao código ao mesmo tempo, e então essa padronização auxilia no entendimento do mesmo.

No estado atual está definido que a padronização de código está Não documentada (ND) e Implementada em grande parte (IG), pois por mais que

[2018-05-18 00:29] freemanpivo commented on #43
A proposta de melhoria, de fato aprovada, encontra-se nesse link: [Proposta de Melhoria APROVADA](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Proposta-de-Melhoria-(Aprovada)).

A sidebar da Wiki também já foi atualizada com o link da Proposta aprovada em reunião do dia 17 de Maio de 2018.

[2018-05-21 03:21] #43 closed, assigned to JonathanRufino, freemanpivo, thiagonf, Rdlenke, fabiolamfleury, joaopaulonsoares, igor-gme, Ronyell, AllanNobre

[2018-05-21 21:49] lopes05 opened #47 "[Não Conformidade] - Backlog da Sprint 2"
@UnbFeelings/devel

A auditoria do [backlog da sprint](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Processo#2112-planejar-sprint) foi feita com base nos [critérios](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Crit%C3%A9rios-de-Avalia%C3%A7%C3%A3o-e-T%C3%A9cnicas-de-Auditoria#backlog-da-sprint) pré-estabelecidos  para poder verificar se a atividade de planejamento aconteceu. O re

[2018-05-23 04:35] lopes05 commented on #47
@UnbFeelings/apolo

[2018-05-23 19:30] lopes05 commented on #47
Foi resolvido. [Link](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Planejamento---Sprint-02)

[2018-05-23 19:30] #47 closed, assigned to nobody

[2018-05-23 21:01] Rdlenke commented on #45
O relatório de desempenho da sprint 1 foi elaborado e pode ser encontrado no seguinte [zelda].

@GDSRS

[zelda]:https://github.com/UnbFeelings/unb-feelings-docs/wiki/Relat%C3%B3rio-de-Desempenho-da-Sprint-1

[2018-05-23 23:13] #45 closed, assigned to GDSRS, AllanNobre

[2018-05-26 15:39] Jefersonalves opened #48 "[Não Conformidade] Planejamento de Treinamentos Iteração 3 Ciclo 2"
@UnbFeelings/apolo

O Planejamento de Treinamentos foi auditado com base nos critérios definidos. Os resultados podem ser visualizados [aqui](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Auditoria-Planejamento-de-Treinamentos-Itera%C3%A7%C3%A3o-3-Ciclo-2).

## Descrição
Não há evidências do planejamento de Treinamentos

## Recomendações
É recomendado que o planejamento dos treinamentos oco

[2018-05-27 01:24] santana-guilherme opened #49 "[Não Conformidade] - Relatório de Desempenho Sprint 2"
A auditoria do relatório de desempenho foi executada para verificar se a atividade de medição e análise foi realizada. O resultado da auditoria pode ser acessado através da seguinte página: [Auditoria Relatório de Desempenho sprint 2 - Ciclo 2](https://github.com/UnbFeelings/unb-feelings-GQA/wiki/Auditoria-Relatório-de-Desempenho-Sprint-2-Ciclo-2).
## Descrição
O documento **Relatório de Desempenh

[2018-05-27 01:45] #40 closed, assigned to Rdlenke

[2018-05-27 19:56] Rdlenke commented on #49
O [relatório de desempenho] da sprint 2 foi produzido.

@GDSRS

[relatório de desempenho]:https://github.com/UnbFeelings/unb-feelings-docs/wiki/Relat%C3%B3rio-de-Desempenho-da-Sprint-2

[2018-05-28 00:02] MatheusRich commented on #48
@UnbFeelings/athena
Dada a atual situação do grupo (última sprint, há 3 dias do fim do ciclo). Vocês acham que é necessário planejar treinamentos, visto que não há tempo hábil para executá-los?

[2018-05-28 13:13] #49 closed, assigned to AllanNobre

[2018-05-28 17:45] Jefersonalves commented on #48
O [Plano de Ensino](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Plano-de-Ensino) prevê uma taxa bônus para a transferência do conhecimento. O planejamento dos treinamentos tem a importância de sistematizar esse processo, mas dada a situação, acredito que a iteração entre as equipes para receber e transferir conhecimento é mais importante.

[2018-05-28 17:47] MatheusRich commented on #48
@Jefersonalves,
Segundo o que me recordo, o planejamento era pra treinamentos internos no time, não treinamento entre as equipes. Posso estar equivocado.

[2018-05-29 00:08] joaopaulonsoares opened #50 "Reformular Diagrama de Métricas de Qualidade"
Reformular o diagrama na página: https://github.com/UnbFeelings/unb-feelings-docs/wiki/SEM-NOME
para que métricas mais condizentes com as mudanças efetuadas sejam definidas e coletadas. De acordo com feedback dado pela professora:

[2018-05-29 00:10] joaopaulonsoares commented on #50
@joaopaulonsoares Vi essas aqui como possíveis para coleta agora. Algumas delas são pelo formulário, @ThiagoNogueira1  limpa la a planilha pra podermos mandar pros outros grupos

[2018-05-29 00:17] thiagonf commented on #50
@joaopaulonsoares Vou limpar agora

[2018-05-29 01:42] #44 closed, assigned to fabiolamfleury, Ronyell, AllanNobre

[2018-05-29 01:44] #37 closed, assigned to nobody

[2018-05-29 01:44] #36 closed, assigned to AllanNobre

[2018-05-30 20:51] AllanNobre commented on #50
Feedback da Professora 30/05:
- [x] O Benefício **Satisfação dos Alunos** com suas duas métricas descendentes deve ser movido para a Necessidade **Avaliação e Acompanhamento da participação dos Alunos**;
- [x] O Benefício **Feedback da Metodologia Utilizada** deve ser removido junto a sua métrica descendente. Este irá ser refletido em uma métrica do Benefício **Satisfação dos Alunos**;
- [x] Do Be

[2018-06-03 13:49] #50 closed, assigned to thiagonf, joaopaulonsoares, Ronyell, AllanNobre

[2018-06-04 07:05] AllanNobre opened #51 "Análise da Melhoria"
Para finalizar o ciclo, deve-se:
- [X] Criar documento de métricas e análise das mudanças;
   * Está neste [link](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Resultado-da-Melhoria-1);
- [X] Alocar recursos para coleta de métricas;
   * Está nessa issue;
- [ ] Coletar métricas;
- [ ] Analisar métricas (Todo o Time);

---

Coletar:

OBS: Coletar das duas Sprints tudo que for possível;

Mét

[2018-06-05 16:47] Jefersonalves commented on #48
@MatheusRich,
Entendo. Mas analisando o processo (figura), o **Planejamento de Treinamentos** é um artefato resultante da atividade **Planejar Release**, a descrição desta atividade apenas diz que os treinamentos acontecem durante o ciclo. O subprocesso de desenvolvimento não retoma este artefato como insumo das atividades e não possui atividade relacionada ao treinamento dos desenvolvedores. Port

[2018-06-15 00:12] Ronyell opened #52 "Backlog de Backlogs"
### Épico 01- Apoio à um perfil
.....
#### Feature 01 (E01FE01) - Publicar Apoio
.....
#### Feature 02 (E01FE02) - Gerenciar Apoio
......
### Épico 02 - Bloqueio
......
#### Feature 01 (E02FE01) -  Bloquear perfil
......
#### Feature 02 (E02FE02) - Gerenciar perfis bloqueados
.....

[2018-06-15 00:16] Ronyell commented on #52
@joaopaulonsoares Épico 01 e E01F01
@Ronyell E01F02 e Épico 02
@JonathanRufino  E02F01 e E02F02

[2018-06-16 15:59] Ronyell commented on #52
Feature 02 (E01FE02) - Gerenciar Apoio
Essa feature tem como objetivo o gerenciamento dos apoios a um perfil. Portanto, permite que o dono do perfil visualize e exclua os apoios dados a ele.

Épico 02 (E02) - Bloqueio
<table>
<tr><td  colspan="2" align="center"><b>Declaração de posição prospectiva
</b></td></tr>
<tr><td>Para</td> <td>Os alunos registrados no aplicativo UnB Feelings</td></tr>
<tr><

[2018-06-16 16:45] JonathanRufino commented on #52
Feature 01 (E02FE01) - Bloquear perfil

Essa feature tem como objetivo permitir que o usuário bloqueie outros usuários, impedindo a visualização de suas informações e que o usuário bloqueado possa interagir em sua timeline ou em suas publicações

Feature 02 (E02FE02) - Gerenciar perfis bloqueados

Essa feature tem como objetivo permite que o usuário gerencie os usuários que ele bloqueou, permitind

[2018-06-16 18:15] joaopaulonsoares commented on #52
Feature 01 (E01FE01) - Publicar Apoio
Essa feature tem como objetivo permitir a publicação de um apoio de um membro à. Portanto, permite que um membro do UnBFeelings preste apoio a outro membro do UnBFeelings.

Épico 01 (E01) - Apoio à um perfil
<table>
<tr><td  colspan="2" align="center"><b>Declaração de posição prospectiva
</b></td></tr>
<tr><td>Para</td> <td>Os alunos registrados no aplicativo

[2018-06-17 23:22] Ronyell commented on #52
## Épico 01
### Feature 01

#### (E01F01US01) - Eu, como usuário, desejo publicar em um perfil de um usuário para poder apoiar um perfil.

**Critérios de Aceitação**

- [ ] O usuário deve ser capaz de apoiar outro perfil de forma anônima.
- [ ] O usuário deve ser capaz de postar uma mensagem nesse perfil.

### Feature 02

#### (E01F02US01) - Eu, como usuário, desejo visualizar os apoios dados ao m

[2018-06-17 23:50] Ronyell commented on #52
## Épico 02
### Feature 01

#### (E02F01US01) - Eu, como usuário, desejo bloquear perfil de um outro usuário para evitar receber mensagens indesejadas de um usuário em específico.

**Critérios de Aceitação**

- [ ] Um usuário deve ser capaz de bloquear um perfil de um outro usuário em um apoio feito por um usuário.
Exemplo:
![image](https://user-images.githubusercontent.com/20937537/41513130-474c1

[2018-06-19 00:43] AllanNobre commented on #52
As histórias derivadas das Features foram documentadas neste [zelda](https://github.com/UnbFeelings/unb-feelings-docs/wiki/Backlog-de-Hist%C3%B3rias---Release-3).

[2018-07-04 20:43] #52 closed, assigned to JonathanRufino, joaopaulonsoares, Ronyell

[2021-04-13 20:44] #51 closed, assigned to nobody